@model IEnumerable<InmobiliariaQuintana.Models.Inquilinos>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Inquilinos</h1>

<p>
    <a asp-action="Create">Crear Inquilino</a>
</p>
<table class="table table-warning">
    <thead>
        <tr>
          
            <th >
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-controller="Inquilinos" asp-route-id="@item.IdInquilino" title="Edit"><i class="fas fa-pencil-alt"></i> </a>
                    <a class="btn btn-warning" asp-action="Details" asp-controller="Inquilinos" asp-route-id="@item.IdInquilino" title="Details"><i class="far fa-list-alt"></i> </a>
                    <a class="btn btn-warning" asp-action="Delete" asp-controller="Inquilinos" asp-route-id="@item.IdInquilino" title="Delete"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }

    </tbody>
</table>
