@model IEnumerable<InmobiliariaQuintana.Models.Pago>

@{
    ViewData["Title"] = "PagosPorContrato";
    var idContrato = ViewBag.idContratoR;
}

<h1>PagosPorContrato</h1>


    <a class="btn btn-warning" asp-action="Create" asp-controller="Pago"  asp-route-id="@idContrato" title="Edit">Nuevo Pago</a>

<table class="table table-warning">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.NumeroPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContratoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaUpdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContratoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaUpdate)
            </td>
            <td>
               
                <a class="btn btn-warning" asp-action="Edit" asp-controller="Pago" asp-route-id="@item.Id" title="Edit"><i class="fas fa-pencil-alt"></i> </a>
                <a class="btn btn-warning" asp-action="Details" asp-controller="Pago" asp-route-id="@item.Id" title="Details"><i class="far fa-list-alt"></i> </a>
                <a class="btn btn-warning" asp-action="Delete" asp-controller="Pago" asp-route-id="@item.Id" title="Delete"> <i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
