@model IEnumerable<InmobiliariaQuintana.Models.Contrato>

@{
    ViewData["Title"] = "Index";
}

<h1>Contratos</h1>
<!--
    <h2>Busquedas</h2>
<div class="row">
    <div class="col-md-4">

        <div class="form-group">
            <label class="control-label">Inicio de Contrato</label>
            <input type="date" name="FechaDesde" class="form-control" id="desdeNew" />

            <label class="control-label">Fin De Contrato</label>
            <input type="date" name="FechaHasta" class="form-control" id="hastaNew" />
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-warning" />
            <input type="submit" value="Create" class="btn btn-warning" />
        </div>


    </div>
</div>
-->

<p>
    <a asp-action="Create">Crear nuevo contrato</a>
</p>
<table class="table table-warning">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.InquilinoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InmuebleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreGarante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DNIGarante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoGarante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @(item.inquilino.Nombre + " " + item.inquilino.Apellido)
                </td>
                <td>
                    @(item.InmuebleId + " - " + item.inmueble.Direccion)
                </td>
                <td id="@item.IdContrato-FechaDesde">
                    @item.FechaDesde.Date.ToString("dd-MM-yyyy")
                </td>
                <td id="@item.IdContrato-FechaDesde">
                    @item.FechaHasta.Date.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreGarante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DNIGarante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelefonoGarante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>



                    <a class="btn btn-warning" asp-action="Edit" asp-controller="Contrato" asp-route-id="@item.IdContrato" title="Editar"><i class="fas fa-pencil-alt"></i> </a>
                    <a class="btn btn-warning" asp-action="Details" asp-controller="Contrato" asp-route-id="@item.IdContrato" title="Detalles"><i class="far fa-list-alt"></i> </a>
                    <a class="btn btn-warning" asp-action="Delete" asp-controller="Contrato" asp-route-id="@item.IdContrato" title="Eliminar"> <i class="fas fa-trash-alt"></i></a>


                    <a class="btn btn-warning" asp-action="PagosPorContrato" asp-controller="Pago" asp-route-id="@item.IdContrato" title="Pagos"><i class="fas fa-money-bill-alt"></i> </a>


                </td>
            </tr>
        }
    </tbody>
</table>
